body{
    font-family: 'Apple SD Ghtinc Neo', 'Roboto', 'Noto Sans KR' sans-serif;
    color: #555;
    background-color: #fff000;
}

.world{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    perspective: 1000px;
}
.stage{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform-style: preserve-3d;
}